@import "tailwindcss";

/* * {
    border: 1px solid red;
} */

:root {
    --white: #faffff;
    --salvia: #a8b4b4;
    --street: #748b80;
    --light-blue: #99CBFF;
    --peach: #f2e8d5;
}

body {
    background-color: var(--white);
}

/* scrollbar */
::-webkit-scrollbar {
    width: 1rem;
    background: #f3f3f3;
}

::-webkit-scrollbar-thumb {
    background: var(--salvia);
    border-radius: 1rem;
    border: 3px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--street);
    border: 3px solid transparent;
    background-clip: padding-box;
}